# Indeks

In [1]:
kalimat_01 = 'manchester united is the best club in football history'

In [2]:
print(kalimat_01)

manchester united is the best club in football history

In [3]:
print(kalimat_01[3])
#mencetak karakter ketiga yaitu huruf c, 
#karena dimulai dari 0,1,2,3 jadi karakter ketiga adalah huruf c.

c

In [4]:
print(kalimat_01[0:17])
#mencetak karakter mulai dari 0 sampai dengan 17.

manchester united

In [5]:
kalimat_01[-1]
#mencetak karakter terakhir dari variabel.

'y'

In [6]:
len(kalimat_01)
#menghitung banyaknya karakter dari suatu variabel.

54

In [7]:
kalimat_01
#tanpa perintah print, hanya menggunakan nama variabel saja,
#mempersingkat waktu ketik.

'manchester united is the best club in football history'

In [8]:
kalimat_01[5:-1]
#mencetak karakter kelima sampai karakter terakhir dikurangi 1 (cmiiw).

'ester united is the best club in football histor'

In [9]:
kalimat_01[2:]
#mencetak karakter kedua sampai terakhir.

'nchester united is the best club in football history'

In [10]:
kalimat_01[3::2]
#mencetak karakter ketiga sampai terakhir namun diloncati 2 karakter,
#karena menggunakan perintah titik dua (:) dua kali.

'cetruie stebs lbi otalhsoy'

In [11]:
kalimat[2:::1]
#tidak ada perintah tanda titik dua tiga kali.

SyntaxError: invalid syntax (2970011346.py, line 1)

In [12]:
kalimat_01[::]

'manchester united is the best club in football history'

In [13]:
kalimat_01[0:55:1]
#mencetak karakter dari 0 sampai 55 dengan diloncati 1.

'manchester united is the best club in football history'

In [14]:
len[kalimat_01]
#memakai kurung biasa!

TypeError: 'builtin_function_or_method' object is not subscriptable

In [15]:
kalimat_01[0:55:3]
#mencetak karakter dari 0 sampai 55 dengan diloncati 3.

'mcsrneit scbnoblio'

# Method

In [16]:
jaya_01 = 'Universitas Udayana mengalahkan Universitas Pendidikan Ganesha Dalam Skala Jarak Dari Kota Denpasar'

In [29]:
print(len(jaya_01))
#mencetak jumlah karakter dalam variabel 'jaya_01'

99

In [30]:
jaya_01.upper()
#merubah seluruh karakter dalam variabel menjadi huruf kapital.

'UNIVERSITAS UDAYANA MENGALAHKAN UNIVERSITAS PENDIDIKAN GANESHA DALAM SKALA JARAK DARI KOTA DENPASAR'

In [31]:
jaya_01.lower()
#merubah seluruh karakter dalam variabel menjadi huruf kecil.

'universitas udayana mengalahkan universitas pendidikan ganesha dalam skala jarak dari kota denpasar'

In [20]:
jaya_01.find('skala')
#mencari kata 'skala' dalam variabel,
#'skala' tidak terdapat dalam variabel 
#namun yang terdapat adalah 'Skala' dengan awalan huruf kapital,
#karena tidak ditemukan maka dicetaklah '-1'

-1

In [21]:
jaya_01.find('Skala')
#ditemukan kata 'Skala' dalam karakter ke-69.

69

In [22]:
jaya_01.replace('Udayana , Warmadewa')
#eror karena kurangnya tanda ' pada setiap kata yang mau diganti.

TypeError: replace expected at least 2 arguments, got 1

In [32]:
jaya_01.replace('Udayana' , 'Warmadewa')
#mengganti kata 'Udayana' menjadi 'Warmadewa'.

'Universitas Warmadewa mengalahkan Universitas Pendidikan Ganesha Dalam Skala Jarak Dari Kota Denpasar'

In [24]:
print('Udayana' in jaya_01)
#mencari tahu apakah ada kata 'Udayana' dalam variabel 'jaya_01'
#karena terdapat, dicetaklah 'True'

True

In [25]:
print('Warmadewa' in jaya_01)
#mencari tahu apakah ada kata 'Warmadewa' dalam variabel 'jaya_01'
#walaupun sempat diganti pada input ke [32], namun yang dipakai tetap inputan yang pertama,
#karena tidak terdapat, dicetaklah 'False'

False

In [26]:
jaya_01[0:12].upper()
#mengganti karakter dari 0 sampai 12 menjadi huruf kapital.

'UNIVERSITAS '

In [27]:
jaya_01[13:17].upper()
#mengganti karakter dari 13 sampai 17 menjadi huruf kapital.

'DAYA'

In [28]:
print(jaya_01[0:12]+jaya_01[12:20].upper()+jaya_01[20::])
#mengkombinasikan untuk mendapatkan huruf kapital dalam kata 'Udayana'
#namun tidak dengan kata lainnya.

Universitas UDAYANA mengalahkan Universitas Pendidikan Ganesha Dalam Skala Jarak Dari Kota Denpasar

# Operasi Matematika

In [33]:
#operasi penjumlahan.
print(2+3)
#operasi pengurangan.
print(3-2)
#operasi perkalian.
print(2*3)
#operasi pembagian.
print(7/3)
#operasi pembulatan pembagian.
print(7//3)
#modulo (sisa dari pembagian).
print(7%3)
#operasi pemangkatan.
print(2**3)

#argumented operator
x=3
x+=1
#artinya 3 + 1
print(x)
x-=2
#hasil dari 3 + 1 dikurangi dengan 2
print(x)
x*=3
#hasil dari 'x' dikalikan 3
print(x)

5
1
6
2.3333333333333335
2
1
8
4
2
6

In [34]:
first = input('masukkan angka pertama = ')
second = input('masukkan angka kedua = ')

masukkan angka pertama = 3
masukkan angka kedua = 4

In [35]:
int(first) + int(second)

7

In [36]:
int(first) - int(second)

-1

In [37]:
int(first) * int(second)

12

In [38]:
int(first) / int(second)

0.75

In [41]:
int(first) // int(second)

0

In [42]:
int(first) % int(second)

3

In [43]:
int(first) ** int(second)

81

# Operator Perbandingan

In [ ]:
#jika bernilai benar 'True' saat perintah (~x) akan dicetak -2
#jika bernilai salah 'False' saat perintah (~x) akan dicetak -1

In [61]:
x = 3>2
#apakah 3 lebih besar daripada 2?
print(x)
print (~x)

True
-2

In [60]:
x = 2>3
#apakah 2 lebih besar dari 3?
print(x)
print (~x)

False
-1

In [59]:
x = 3 !=4
#apakah 3 tidak sama dengan 4?
print(x)
print (~x)

True
-2

In [58]:
x = 3 !=3
#apakah 3 tidak sama dengan 3?
print (x)
print (~x)

False
-1

In [57]:
x = 4 >= 5 
#apakah 4 lebih dari sama dengan 5?
print (x)
print (~x)

False
-1

In [56]:
x = 4 <= 5 
#apakah 4 kurang dari sama dengan 5?
print (x)
print (~x)

True
-2

In [55]:
x = 4 == 4
#apakah 4 sama dengan 4?
print (x)
print (~x)

True
-2

In [54]:
x = 4 == 5
#apakah 4 sama dengan 5?
print (x)
print (~x)

False
-1

# Operator Logika

In [ ]:
#untuk operator dan 'and' berlaku, jika benar kedua argumen maka hasil akhirnya adalah benar (True),
#jika salah satu atau kedua argumen bernilai salah maka hasil akhirnya adalah salah (False).
#untuk operator atau 'or' berlaku, jika salah satu atau kedua argumen bernilai benar,
#maka hasil akhirnya adalah benar (True), namun jika kedua nilai bernilai salah,
#maka hasil akhirnya adalah salah (False).

In [70]:
evos = 7
rrq = 8
print(evos > 5 and  rrq < 3)
#apakah evos lebih dari 5 dan rrq kurang dari 3?

False

In [64]:
print (evos > 5 and rrq < 10)
#apakah evos lebih dari 5 dan rrq kurang dari 10?

True

In [65]:
print (evos > 5 or rrq < 3)
#apakah evos lebih dari 5 atau rrq kurang dari 3?

True

In [66]:
print (evos > 8 or rrq < 3)
#apakah evos lebih dari 8 atau rrq kurang dari 3?

False

In [68]:
print (evos > 5 or rrq < 9)
#apakah evos lebih dari 5 atau rrq kurang dari 9?

True

In [69]:
print (evos > 8 or rrq < 9)
#apakah evos lebih dari 8 atau rrq kurang dari 9?

True

# Operator if

In [74]:
klasemen = float(input("klasemen mpl tim favoritmu adalah = "))
if klasemen >= 7:
    print("Tim favoritmu tidak lolos play off")
    print("Semangat! , bertemu lagi season depan.")
if klasemen < 7 and klasemen >= 3:
    print("Tim favoritmu lolos play off")
    print("Namun harus berjuang dulu di lower bracket.")
if klasemen < 3 and klasemen >= 1:
    print("Tim favoritmu lolos play off")
    print("Selamat berjuang di upper bracket.")

klasemen mpl tim favoritmu adalah = 7
Tim favoritmu tidak lolos play off
Semangat! , bertemu lagi season depan.

In [75]:
klasemen = float(input("klasemen mpl tim favoritmu adalah = "))
if klasemen >= 7:
    print("Tim favoritmu tidak lolos play off")
    print("Semangat! , bertemu lagi season depan.")
if klasemen < 7 and klasemen >= 3:
    print("Tim favoritmu lolos play off")
    print("Namun harus berjuang dulu di lower bracket.")
if klasemen < 3 and klasemen >= 1:
    print("Tim favoritmu lolos play off")
    print("Selamat berjuang di upper bracket.")

klasemen mpl tim favoritmu adalah = 5
Tim favoritmu lolos play off
Namun harus berjuang dulu di lower bracket.

In [78]:
klasemen = float(input("klasemen mpl tim favoritmu adalah = "))
if klasemen >= 7:
    print("Tim favoritmu tidak lolos play off")
    print("Semangat! , bertemu lagi season depan.")
elif klasemen < 7 and klasemen >= 3:
    print("Tim favoritmu lolos play off")
    print("Namun harus berjuang dulu di lower bracket.")
elif klasemen < 3 and klasemen >= 1:
    print("Tim favoritmu lolos play off")
    print("Selamat berjuang di upper bracket.")

klasemen mpl tim favoritmu adalah = 1
Tim favoritmu lolos play off
Selamat berjuang di upper bracket.

In [79]:
tinggi = float (input("Berapa tinggi anda? "))
cm_atau_inci = input("Tingginya adalah inci atau cm?")

if cm_atau_inci.upper() == 'CM' :
    tinggi = tinggi*0.393701
    print('Tinggi anda adalah ' + str(tinggi) + " Inci")
elif cm_atau_inci.upper() == 'INCI' :
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

Berapa tinggi anda? 175
Tingginya adalah inci atau cm?cm
Tinggi anda adalah 68.897675 Inci

In [80]:
tinggi = float (input("Berapa tinggi anda? "))
cm_atau_inci = input("Tingginya adalah inci atau cm?")

if cm_atau_inci.upper() == 'CM' :
    tinggi = tinggi*0.393701
    print('Tinggi anda adalah ' + str(tinggi) + " Inci")
elif cm_atau_inci.upper() == 'INCI' :
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

Berapa tinggi anda? 72.5
Tingginya adalah inci atau cm?inci
Tinggi anda adalah 184.1499005590537 cm

In [86]:
jam = int (input("Sekarang adalah jam? "))
zona_waktu = input ("Zona waktu anda adalah?")
                   
if zona_waktu.upper() == 'WIB' :
    jam = jam + 1
    print('Sekarang adalah jam ' + str(jam) + " di Bali")
elif zona_waktu.upper() == 'WITA' :
    jam = jam
    print('Sekarang adalah jam ' + str(jam) + " di Bali")
elif zona_waktu.upper() == 'WIT' :
    jam = jam - 1
    print('Sekarang adalah jam ' + str(jam) + " di Bali")

Sekarang adalah jam? 5
Zona waktu anda adalah?wita
Sekarang adalah jam 5 di Bali

In [87]:
jam = int (input("Sekarang adalah jam? "))
zona_waktu = input ("Zona waktu anda adalah?")
                   
if zona_waktu.upper() == 'WIB' :
    jam = jam + 1
    print('Sekarang adalah jam ' + str(jam) + " di Bali")
elif zona_waktu.upper() == 'WITA' :
    jam = jam
    print('Sekarang adalah jam ' + str(jam) + " di Bali")
elif zona_waktu.upper() == 'WIT' :
    jam = jam - 1
    print('Sekarang adalah jam ' + str(jam) + " di Bali")

Sekarang adalah jam? 11
Zona waktu anda adalah?wib
Sekarang adalah jam 12 di Bali

In [88]:
jam = int (input("Sekarang adalah jam? "))
zona_waktu = input ("Zona waktu anda adalah?")
                   
if zona_waktu.upper() == 'WIB' :
    jam = jam + 1
    print('Sekarang adalah jam ' + str(jam) + " di Bali")
elif zona_waktu.upper() == 'WITA' :
    jam = jam
    print('Sekarang adalah jam ' + str(jam) + " di Bali")
elif zona_waktu.upper() == 'WIT' :
    jam = jam - 1
    print('Sekarang adalah jam ' + str(jam) + " di Bali")

Sekarang adalah jam? 9
Zona waktu anda adalah?wit
Sekarang adalah jam 8 di Bali