In [1]:
print("Ricardo Milos")

Ricardo Milos

In [2]:
Holla

NameError: name 'Holla' is not defined

In [3]:
#manchester united vs cambodia dimenangkan oleh
#el salvador dengan hole in one di lubang pertama 
#saat tim lawan menggunakan jersey polo terbaiknya.

# Indeks

In [ ]:
# kalimat = 'manchester united is the best club in football history'

In [5]:
print(kalimat[3])

c

In [6]:
print(kalimat[0:13])

manchester un

In [7]:
print(kalimat[1:3])

an

In [8]:
kalimat[-1]

'y'

In [9]:
len(kalimat)

54

In [10]:
kalimat

'manchester united is the best club in football history'

In [11]:
kalimat[5:-1]

'ester united is the best club in football histor'

In [12]:
kalimat[2:]

'nchester united is the best club in football history'

In [13]:
kalimat[3::2]

'cetruie stebs lbi otalhsoy'

In [14]:
kalimat[2:::1]

SyntaxError: invalid syntax (4072319251.py, line 1)

In [15]:
kalimat[::]

'manchester united is the best club in football history'

In [16]:
kalimat[0:55:1]

'manchester united is the best club in football history'

In [17]:
len[kalimat]
#memakai kurung biasa

TypeError: 'builtin_function_or_method' object is not subscriptable

In [18]:
kalimat[0:55:3]

'mcsrneit scbnoblio'

# Method

In [19]:
riandika = 'Universitas Udayana mengalahkan Universitas Pendidikan Ganesha Dalam Skala Jarak Dari Kota Denpasar'

In [20]:
print(len(riandika))

99

In [21]:
riandika.upper()

'UNIVERSITAS UDAYANA MENGALAHKAN UNIVERSITAS PENDIDIKAN GANESHA DALAM SKALA JARAK DARI KOTA DENPASAR'

In [22]:
riandika.lower()

'universitas udayana mengalahkan universitas pendidikan ganesha dalam skala jarak dari kota denpasar'

In [23]:
riandika.find('skala')

-1

In [24]:
riandika.find('Skala')

69

In [25]:
riandika.replace('Udayana , Warmadewa')

TypeError: replace expected at least 2 arguments, got 1

In [26]:
riandika.replace('Udayana' , 'Warmadewa')

'Universitas Warmadewa mengalahkan Universitas Pendidikan Ganesha Dalam Skala Jarak Dari Kota Denpasar'

In [27]:
print('Udayana' in riandika)

True

In [28]:
print('Warmadewa' in riandika)

False

In [34]:
riandika[0:13].upper()

'UNIVERSITAS U'

In [36]:
riandika[13:17].upper()

'DAYA'

In [41]:
print(riandika[0:12]+riandika[12:20].upper()+riandika[20::])

Universitas UDAYANA mengalahkan Universitas Pendidikan Ganesha Dalam Skala Jarak Dari Kota Denpasar

# Operasi Matematika

In [43]:
print(2+3)
print(3-2)
print(2*3)
print(7/3)
print(7//3)
print(7%3)
print(2**3)
x=3
x+=1
print(x)
x-=2
print(x)
x*=3
print(x)

5
1
6
2.3333333333333335
2
1
8
4
2
6

$$\frac{1}{2}$$

In [44]:
x = 3>2
print(x)

True

In [45]:
x = 2>3
print(x)

False

In [46]:
x = 3 !=4
print(x)

True

In [47]:
x = 3 !=3
print (x)

False

In [49]:
~1

-2

In [50]:
~15

-16

In [59]:
y = 1
x = 10
if (x <= 10):
    y = x*x
    x = x + 1
print(y)

100